mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.campo-nome {
  margin-top: 35px;
  margin-bottom: 13px;
}

.campo-form {
  width: 100%;
}

mat-card-actions button {
  margin: 10px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}
